
# PlanAhead Generated IO constraints 

NET "PG1" IOSTANDARD = LVCMOS33;
NET "PG2" IOSTANDARD = LVCMOS33;
NET "PG3" IOSTANDARD = LVCMOS33;
NET "PG4" IOSTANDARD = LVCMOS33;
NET "VFN" IOSTANDARD = LVCMOS33;
NET "VST" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "PG1" LOC = P26;
NET "PG2" LOC = P27;
NET "PG3" LOC = P28;
NET "PG4" LOC = P30;
NET "CONF" LOC = P8;
NET "CONF" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated IO constraints 

NET "CONF" IOSTANDARD = LVCMOS33;
