
# PlanAhead Generated IO constraints 

NET "B0[3]" IOSTANDARD = LVCMOS33;
NET "B0[2]" IOSTANDARD = LVCMOS33;
NET "B0[1]" IOSTANDARD = LVCMOS33;
NET "B0[0]" IOSTANDARD = LVCMOS33;
NET "B1[3]" IOSTANDARD = LVCMOS33;
NET "B1[2]" IOSTANDARD = LVCMOS33;
NET "B1[1]" IOSTANDARD = LVCMOS33;
NET "B1[0]" IOSTANDARD = LVCMOS33;
NET "B2[3]" IOSTANDARD = LVCMOS33;
NET "B2[2]" IOSTANDARD = LVCMOS33;
NET "B2[1]" IOSTANDARD = LVCMOS33;
NET "B2[0]" IOSTANDARD = LVCMOS33;
NET "B3[3]" IOSTANDARD = LVCMOS33;
NET "B3[2]" IOSTANDARD = LVCMOS33;
NET "B3[1]" IOSTANDARD = LVCMOS33;
NET "B3[0]" IOSTANDARD = LVCMOS33;
NET "Digit[3]" IOSTANDARD = LVCMOS33;
NET "Digit[2]" IOSTANDARD = LVCMOS33;
NET "Digit[1]" IOSTANDARD = LVCMOS33;
NET "Digit[0]" IOSTANDARD = LVCMOS33;
NET "Segment[6]" IOSTANDARD = LVCMOS33;
NET "Segment[5]" IOSTANDARD = LVCMOS33;
NET "Segment[4]" IOSTANDARD = LVCMOS33;
NET "Segment[3]" IOSTANDARD = LVCMOS33;
NET "Segment[2]" IOSTANDARD = LVCMOS33;
NET "Segment[1]" IOSTANDARD = LVCMOS33;
NET "Segment[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "B0[3]" LOC = P20;
NET "B0[2]" LOC = P18;
NET "B0[1]" LOC = P17;
NET "B0[0]" LOC = P15;
NET "Digit[3]" LOC = P5;
NET "Digit[2]" LOC = P6;
NET "Digit[1]" LOC = P131;
NET "Digit[0]" LOC = P130;
NET "Segment[6]" LOC = P135;
NET "Segment[5]" LOC = P137;
NET "Segment[4]" LOC = P140;
NET "Segment[3]" LOC = P141;
NET "Segment[2]" LOC = P1;
NET "Segment[1]" LOC = P2;
NET "Segment[0]" LOC = P4;
NET "CLK25" LOC = P127;
NET "EQU" LOC = P21;
NET "ST" LOC = P23;
NET "VFN" LOC = P24;
NET "VST" LOC = P25;

# PlanAhead Generated IO constraints 

NET "CLK25" IOSTANDARD = LVCMOS33;
NET "EQU" IOSTANDARD = LVCMOS33;
NET "ST" IOSTANDARD = LVCMOS33;
NET "VFN" IOSTANDARD = LVCMOS33;
NET "VST" IOSTANDARD = LVCMOS33;
